flows.json
[
    {
        "id": "4d69add5fa08789e",
        "type": "tab",
        "label": "Fluxo 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "81f2a22c63720e03",
        "type": "mqtt in",
        "z": "4d69add5fa08789e",
        "name": "",
        "topic": "dash/game/movimento",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "38f37ec9621a060f",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 260,
        "y": 260,
        "wires": [
            [
                "67317765e138a5b2",
                "688ba865ae2542d1"
            ]
        ]
    },
    {
        "id": "67317765e138a5b2",
        "type": "debug",
        "z": "4d69add5fa08789e",
        "name": "debug 8",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 800,
        "y": 200,
        "wires": []
    },
    {
        "id": "acd874cadbeeab47",
        "type": "mqtt in",
        "z": "4d69add5fa08789e",
        "name": "",
        "topic": "dash/game/sinal",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "38f37ec9621a060f",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 240,
        "y": 360,
        "wires": [
            [
                "93c8822555621d1e",
                "9cc124a7d9b4a4ea"
            ]
        ]
    },
    {
        "id": "93c8822555621d1e",
        "type": "debug",
        "z": "4d69add5fa08789e",
        "name": "debug 10",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 800,
        "y": 420,
        "wires": []
    },
    {
        "id": "9cc124a7d9b4a4ea",
        "type": "ui_gauge",
        "z": "4d69add5fa08789e",
        "name": "",
        "group": "29a753b97dbc4c5c",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Força do sinal",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 820,
        "y": 360,
        "wires": []
    },
    {
        "id": "688ba865ae2542d1",
        "type": "ui_text",
        "z": "4d69add5fa08789e",
        "group": "29a753b97dbc4c5c",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Movimento",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 810,
        "y": 260,
        "wires": []
    },
    {
        "id": "38f37ec9621a060f",
        "type": "mqtt-broker",
        "name": "test.mosquitto.org",
        "broker": "test.mosquitto.org",
        "port": "1883",
        "clientid": "NodeRedClient",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "29a753b97dbc4c5c",
        "type": "ui_group",
        "name": "ESP32",
        "tab": "51fe63992e3f1b5f",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "51fe63992e3f1b5f",
        "type": "ui_tab",
        "name": "ESP32",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]